{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'surat_masuk'%}">
        <img src="{% static 'img/kemhan_logo.png' %}" alt="KEMHAN Logo" width="45" height="45" />
        <span>ARSIP TU SETBARANAHAN</span>
      </a>

      <ul class="nav nav-underline">


        <div style="margin-right: 3.5rem; font-weight: bold; " class="d-flex gap-4">

            <li class="nav-item mt-1">
                <a class="nav-link  fa fa-arrow-left " href="{% url 'surat_masuk' %}"></a>
              </li>
            
            <li class="nav-item">
              <a class="nav-link   {% if request.path == '/surat/surat_masuk/laporan_harian/' %} active {% endif %}" href="{% url 'laporan_harian' %}">Harian</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/surat/surat_masuk/laporan_bulanan/' %} active {% endif %}" href="{% url 'laporan_bulanan' %}">Bulanan </a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/surat/surat_masuk/laporan_tahunan/' %} active {% endif %}" href="{% url 'laporan_tahunan' %}">Tahunan </a>
              </li>
        
          </div>


      </ul>
    </div>
  </nav>
</div>



