{% load static %}

<div>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="{% static 'img/kemhan_logo.png' %}" alt="KEMHAN Logo" width="45" height="45" />
        <span>ARSIP TU SETBARANAHAN</span>
      </a>

      <ul class="nav nav-underline">


        <div style="margin-right: 3.5rem; font-weight: bold; " class="d-flex gap-4">
          <li class="nav-item">
            <a class="nav-link   {% if request.path == '/surat/surat_masuk/' %}{% endif %}" href="">Surat Masuk</a>
          </li>



          <li class="nav-item">
            <a class="nav-link {% if request.path == '/surat/surat_masuk/olah_surat/' %}{% endif %}" href="">Surat Keluar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">Laporan</a>
          </li>

          
        </div>
      </ul>
    </div>
  </nav>
</div>
