{% extends 'base.html' %} 
{% load static %} 

{% block login %}
    <div class="css">
      <div class="container mt-5 pt-5" >
        <div class="row">
          <div class="col-12 col-sm-7 col-md-4 m-auto">
            <div class="card shadow  border-4 border-primary">
              <div class="card-body">
                <div class="text-center mb-4">
                  <a href="{% url 'login' %}">
                    <img
                      src="{% static 'img/kemhan_logoxx1.png'%}"
                      alt="KEMHAN LOGO"
                      width="200"
                      height="200"
                    />
                  </a>
                </div>
                <form method="POST" action="{% url 'login' %}">
                  {% csrf_token %}
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control py-2"
                    placeholder="Username"
                    required
                  />
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control my-4 py-2"
                    placeholder="Password"
                    required
                  />
                  <div class="d-grid text-center mt-3 mb-4">
                    <button class="btn btn-primary">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
{% endblock login %}
