<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
       body {
            font-family: Arial, sans-serif;
            font-size: 15px;
        }
        .main_header {
          text-align: center;
          margin-top: -20px;
          font-weight: 600;
        }
        .text_disposisi {
          text-align: center;
          margin-top: 12px;
          font-weight: 600;
          font-size: 16px;
        }

        .tabel_header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid black;
            border-top: 2px solid black;
            padding-top: 2px ;
            padding-bottom: 2px;
            margin-top: 20px;
        }
        .tabel_header_sub {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid black;
          padding-top: 2px ;
          padding-bottom: 2px;
      }

      .vertical-line {
        width: 0;
        height: 780px; /* Set the desired length of the vertical line */
        border-left: 2px solid #000; /* Change the color as needed */
        margin-left: 2rem;
      }

    </style>
</head>
<body>

  <div class="main_header">
      BADAN SARANA PERTAHANAN KEMHAN<br>
      SEKRETARIAT
  </div>
  <div class="text_disposisi">
      LEMBAR DISPOSISI
  </div>
        
     
  <table style="width:100%; justify-content: space-between; margin-top: 20px;  border-collapse: collapse; font-size: 14px;">

    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px;">
      <td>No. Agenda</td>
      <td colspan="8">: {{ no_agenda | default_if_none:""  }}</td>
      <td>Tanggal</td>
      <td>: {{ tgl_agenda | default_if_none:""  }} </td>
    </tr>
    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px;">
      <td>Surat Dari </td>
      <td>: {{ surat_dari | default_if_none:""  }}</td>
    </tr>
    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px;">
      <td>No. Surat </td>
      <td colspan="8">: {{ no_surat | default_if_none:""  }}</td>
      <td>Derajat</td>
      <td>: {{ derajat | default_if_none:""  }} </td>
    </tr>
    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px;">
      <td>Tanggal Surat</td>
      <td colspan="8">:{{ tgl_surat | default_if_none:""  }} </td>
      <td>Klasifikasi</td>
      <td>: {{ klasifikasi | default_if_none:""  }} </td>
    </tr>
    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px;">
      <td>Catatan TU</td>
      <td colspan="8">: </td>
    </tr>
    <tr style="border: 1px solid black; border-left: none; border-right: none; padding-top: 2px; padding-bottom: 2px; ">
      <td  style="text-align: center;">Kepada Yth</td>
      <td colspan ="10" style="text-align: center;">Disposisi / Catatan Kabag Um</td>
    </tr>
  </table>
  

  <div style="display: flex; font-size: 14px; "> 
      <div>
          <div style="display: flex;">
              <h5> 1. </h5>
              <h5 style="margin-left: 0.5rem;">Kapusalpalhan </h5>
          </div>
          <div style="display: flex; margin-top: -1.1rem;">
             <h5> 2.</h5>
             <h5 style="margin-left: 0.5rem;">Kapuskon</h5>
          </div>
          <div style="display: flex; margin-top: -1.1rem;">
              <h5> 3. </h5>
              <h5  style="margin-left: 0.5rem"> Kapuskod</h5>
          </div>
          <div style="display: flex; margin-top: -1.1rem;">
              <h5> 4. </h5>
              <h5  style="margin-left: 0.3rem">  Kapus BMN</h5>
          </div>
          <div style="display: flex; margin-top: -1.1rem;">
              <h5> 5. </h5>
              <h5  style="margin-left: 0.5rem;">Kabag </h5>
              <h5 style="margin-left: 0.7rem;"> Proglap</h5>
           </div>
           <div style="display: flex; margin-top: -1.1rem;">
              <h5> 6. </h5>
              <h5  style="margin-left: 0.5rem">Kabag </h5>
              <h5 style="margin-left: 0.3rem"> Datin</h5>
           </div>
           <div style="display: flex; margin-top: -1.1rem;">
                <h5> 7. </h5>
                <h5  style="margin-left: 0.5rem">Kabag </h5>
                <h5 style="margin-left: 0.3rem"> Malur</h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5> 8. </h5>
              <h5  style="margin-left: 0.5rem">Kabag </h5>
              <h5 style="margin-left: 0.2rem">Um</h5>
            </div>
            <div style="display: flex; margin-top: -1.1rem;">
              <h5> 9. </h5>
              <h5  style="margin-left:0.5rem">APN </h5>
            </div>
            <div style="display: flex; margin-top: -1.1rem;">
              <h5> 10. </h5>
              <h5  style="margin-left: 0.5rem">Spri </h5>
            </div>
      </div>

      <div class="vertical-line"></div> 


      <div style="margin-left: 1rem;">

            <div style="display: flex;">
                <h5>1.</h5> 
                <h5 style="margin-left: 0.5rem;">Pelajari / Koordinasi dengan Instansi Terkait </h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>2.</h5> 
              <h5 style="margin-left: 0.5rem"> Bahan Masukan </h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>3.</h5> 
              <h5 style="margin-left: 0.5rem">Konsep Jawaban/Tanggapan</h5>
            </div>
            <h5 style="margin-top: -10px; margin-left: 1.3rem;"> Saran Kepada .............  </h5> 

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>4.</h5> 
              <h5 style="margin-left: 0.5rem"> Tindak Lanjuti</h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>5.</h5> 
              <h5 style="margin-left: 0.5rem"> Untuk diketahui</h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>6.</h5> 
              <h5 style="margin-left: 0.5rem"> Pedomani</h5>
            </div>

            <div style="display: flex; margin-top: -1.1rem;">
              <h5>7.</h5> 
              <h5 style="margin-left: 0.5rem"> Wakili Sesbaranahan</h5>
            </div>

      </div>

      <div style="">

        <div style="display: flex;">
            <h5>8.</h5>
            <h5 style="margin-left: 0.5rem">Monitor Perkembangannya </h5>
        </div>
        
        <h5 style=" margin-top: -0.5rem;">9. Umumkan saat Binsat</h5>

        <div style="display: flex; margin-top: -1.1rem;">
          <h5>10 .</h5>
          <h5 style="margin-left: 0.5rem;">Atensi disposisi Kabadan </h5>
      </div>
      

        <h5 style="margin-top: -0.2rem;">11. Evaluasi</h5>
        <h5>12. Cari Calon Siswa</h5>
        <h5>13. Laporkan Hasilnya</h5>
        <h5>14. Siapkan Bahan</h5>
        <h5>15. Sesuaikan Ketentuan</h5>
        <h5>16. Simpan/file</h5>
        
  </div>

  </div>
  
</body>
</html> 