{% for data in surat_masuk %}

  <div class="modal fade" id="button_delete_surat_masuk{{ data.id }}" tabindex="-1" aria-labelledby="delete_kelompok" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="delete_kelompok">Hapus No Agenda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="{% url 'delete_surat_masuk' data.id %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">

           <div>
              <Span>Apakah Yakin Menghapus No Agenda "{{ data.no_agenda  }}" ?</Span>
           </div>
           <div class="mt-3">
                Kode Keamanan : {{ kode_keamanan }}
           </div>
           <div class="mt-2">
                <input type="text" class="form-control" id="inputAddress" placeholder="Isi Kode Keamanan disini"  name="kode_1"  value="{{ kode_keamanan }}" hidden /> 
                <input type="text" class="form-control" id="inputAddress" placeholder="Isi Kode Keamanan disini"  name="kode_2" required/>
           </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Hapus Surat</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %} 